  body {
    height: 100vh;
    margin: 0;
  }

  header{
    height: 5vh;
    width: 100%;
    background-color: rgba(0, 118, 65, 1.0);
    color: white;
  }
  .header-container{
      width: 98%;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
  }
  .header-left{
      font-size: 24px;
      margin-right: auto;
  }
  /* .header-right{
      width: 500px;
      font-size: 18px;
      margin-right: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
  } */

  .main-container {
    margin-top: 3px;
    width: 100%;
    display: flex;
    background-color: #eeeeeeff;
  }
  
  #game-board {
    position: relative;
    max-width: 1500px;
    width: 100%;
    height: 900px;
    aspect-ratio: 15 / 9;
    /* margin: auto; */
    background-color: rgba(0, 128, 0, 0.664);
  }
  .player-info-area{
    background-color: rgba(219, 219, 219, 0.7);
    display: inline-block;
    min-inline-size: 100px;
    writing-mode: horizontal-tb; 
    border-radius: 10%;
    font-weight: bold;
    font-size: medium;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  }
  .player-info{
    opacity: 100%;
  }
  .player-status{
    display: flex;
    justify-content: space-around;
    padding: 5% 0% 5% 0%;
    margin-bottom: 5%;
    background-color: rgba(110, 110, 173, 0.925);
    border-radius: 10%;
  }
  .player-wind{
    color: white;
  }
  .player-point{
    text-align: right;
    display: inline-block;
    min-inline-size: 50px;
    writing-mode: horizontal-tb; 
    padding: 2% 6%;
    background-color: rgba(26, 26, 61, 0.555);
    border-radius: 10%;
    color: white;
    font-size: small;
    font-weight: lighter;
  }
  .player-name{
    margin: 0 5px 0 5px;
    color: #000;
    /* color: rgb(252, 252, 19); */
  }

  #my-main-area {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 100%;
    height: 30%;
  }
  
  #right-main-area {
    position: absolute;
    bottom: calc(100% - 0%);
    right: 0%;  /* left + widtgh */
    width: calc(70% * (900 / 1500));  /* height / aspect*/
    height: calc(13% * (1500 / 900));  /* width / aspect*/
  }
  
  #opposite-main-area {
    position: absolute;
    top: 0%;
    left: 13%;
    width: 74%;
    height: 14%;
  }
  
  #left-main-area {
    position: absolute;
    bottom: calc(100% - 0%);
    left: 0%;  /* left + widtgh */
    width: calc(70% * (900 / 1500));  /* height / aspect*/
    height: calc(13% * (1500 / 900));  /* width / aspect*/
  }

  .meld-area{
    margin-left: auto;
    margin-right: 2%;
    margin-top: auto;
  }

  #my-discard-area {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 20%;
  }

  #right-discard-area {
    position: absolute;
    bottom: calc(100% - 14%);
    right: 13%;  /* left + widtgh */
    width: calc(56% * (900 / 1500));  /* height / aspect*/
    height: calc(17% * (1500 / 900));  /* width / aspect*/
  }
  
  #opposite-discard-area {
    position: absolute;
    top: 14%;
    left: 30%;
    width: 40%;
    height: 20%;
  }

  #left-discard-area {
    position: absolute;
    bottom: calc(100% - 14%);
    left: 13%;  /* left + widtgh */
    width: calc(56% * (900 / 1500));  /* height / aspect*/
    height: calc(17% * (1500 / 900));  /* width / aspect*/
  }

  /* コンポーネントを90度回転する */
  .my{
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* background-color:#0000ff80; */
  }
  .right{
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* background-color:#00ffff80; */
    transform: rotate(-90deg);
    transform-origin: right bottom;
  }
  .opposite{
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* background-color:#ff00ff80; */
    transform: rotate(180deg);
  }
  .left{
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* background-color:#ffff0080; */
    transform: rotate(90deg);
    transform-origin: left bottom;
  }

  .main-area{
    display: flex;
  }
  .discard-area{
    display: flex;
  }
  

  #game-info-area {
    position: absolute;
    top: 34%;
    left: 30%;
    width: 40%;
    height: 16%;
    display: flex;
    background-color:#0000ff80;
  }
  #game-count-area {
    /* display: flex; */
    width: 25%;
    height: 100%;
    background-color:#ff00005f;
  }
  .text-center{
    margin: auto;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 26px;
  }
  #dora-tile-area{
    display: flex;
    width: 75%;    
    height: 100%;
    background-color:#ffff005f;
  }
  .dora-text{
    width: 8%;
    height: 90%;
    text-align: center;
    writing-mode: vertical-rl; /* 縦書きの指定 */
    margin: auto;
    color: white;
    font-size: 26px;
    background-color:#ff00ff5f;
  }
  #dora-tiles{   
    width: 90%;
    height: 90%;
    margin: auto;
    background-color:#ff00ff5f;
    /* display: flex; */
    /* justify-content: flex-start; 要素を左寄せ */
  }


  #action-area{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 40%;
    height: 15%;
    display: flex;
    /* background-color:#6cd2630f; */
  }

  .action-btn {
    border: 0;
    display: block;
    line-height: 2.5;
    margin: auto;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .action-btn:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .action-btn:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  #setting{
    position: absolute;
    top: 3%;
    left: 95%;
  }
  #setting-area{
    background-color: aquamarine;
    text-align: center;
    width: 30%;
    margin-left: 3rem;
    padding-top: 2rem;
  }
  #reload{
    background-color: rgb(219, 219, 219);
    border-radius: 15%;
    padding: 5px;
  }
  #music{
    background-color: rgb(219, 219, 219);
    border-radius: 15%;
    padding: 3px;
    margin-top: 5%;
  }
  #point{
    text-align: center;
    width: 80%;
    margin: 5%;
    padding: 2rem;
  }
  #point .pointTitle{
    background-color: white;
    font-size: 2rem;
    padding: 2rem 0rem 6rem 0rem;
  }

/* プレイヤーの宣言の表示関係 */
.declare-window{
  position: absolute;
  margin: auto auto auto auto;
  display: flex;
  width: 100%;
  height: 100%;
}

.declare-msg{
  display: none;
  background-color: #fff;
  font-size: xx-large;
  position: relative;
  padding: 3px;
  border-radius: 25%;
  margin: auto;
  border: solid;
}


/* あがり結果画面 */
#result-area{
  display: none;
  position: absolute;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  background-color: #ff0000a0;
}

/* 鷲巣麻雀関係 */
.opacity-tile {
  opacity: 0.7;
}

.rule-setting-area{
  width: 90%;
  margin: auto;
  font-size: xx-large;
}
.setting-title {
  padding: 2rem;
}
.rule-setting-area label{
  display: block;
  background-color: aqua; 
  width: 80%;
  margin: 0% auto 5% auto;
  padding: 1% 2% 1% 2%;
  border-radius: 20px;
}
